@{
    ViewBag.Title = "うめ校 | 共感から協働へ ";
}

@section css{
  <link href="@Url.Content("~/Scripts/plugin/jquery.zrssfeed.css")" rel="stylesheet" type="text/css" />
}
@section script{



    <script src="@Url.Content("~/Scripts/plugin/jquery.zrssfeed.min.js")" type="text/javascript"></script>
    <script type="text/javascript">

     
        $(document).ready(function () {
            $('#test').rssfeed('http://umekou.jugem.jp/?mode=rss', {
                limit: 5,
                header: false,
                dateformat: 'yyyy.MM.dd',
                linktarget:'_blank',
                content: false
            });
        });
 </script>

}

<div class="inner3Contents" style="margin-top:0px;height:100%;background-color:#87b92a;">


   @*=====================================
    センター　ブログ部分
    =====================================*@
<div class="column1" style="width:450px;padding-left:60px;padding-top:60px;">
  

<div style="margin-left:20px;"> <img src="@Url.Content("~/img/logo/mintuku.gif")" alt="みんつく　みたけマップ" /></div>
<div style="margin-top:30px;"> 
<img src="@Url.Content("~/img/str/new_blog_arrival_title.jpg")" alt="うめブログ新着情報" />


</div>
<div id="test"></div>
</div>


 @*=====================================
    右メニュー部分
    =====================================*@
<div class="column2" style="margin:0px;text-align:left;width:260px;margin-left:0px;height:900px;background-color:#fff;">



<ul class="Menu" style="margin-left:0px;text-align:center;background-color:#fff;padding-left:20px;padding-top:200px;">
<li style="border:none;width:200px;text-align:right;"> 
     <img style="cursor:pointer;"
     onclick='location.href = "http://www.facebook.com/umekou.since2010'
                    onmouseover="this.src='@Url.Content("~/img/icon/facebook_.gif")'" 
                    onmouseout="this.src='@Url.Content("~/img/icon/facebook.gif")'"
                    src="@Url.Content("~/img/icon/facebook.gif")" alt="うめ校フェイスブック" />
           
  </li>

 <li style="border:none;margin:0px;" onclick='var w=window.open();w.location.href = "@Url.Action("Index", "Ecoclub", null, null)";'> 
     <div style="background-color:#F5D500;border:1px dotted silver;width:200px;height:40px;font-size:10px;">
     <img style="cursor:pointer;"
                    src="@Url.Content("~/img/icon/banner_ecoclub.gif")" alt="青梅エコクラブバナー" />
      
     </div>
   </li>
   <li style="border:none;" onclick='var w=window.open();w.location.href = "http://towntip.jp/oume/sns/";'> 
     <div style="background-color:#FFF;border:1px dotted silver;width:200px;height:40px;font-size:10px;color:Gray;">
     <img style="cursor:pointer;margin-top:2px;"
                    src="@Url.Content("~/img/icon/banner_towntip.gif")" alt="おうめタウンチップバナー" />
     </div>
   </li>
    
  
     <li style="border:none;width:200px;">
     

     </li>


</ul>

</div>



</div>




