@{
    ViewBag.Title = "DENTO SCHOOL | ～先生はまちの職人さん～";
    Layout = "~/Views/Shared/_LayoutDensk.cshtml";
}
<script type="text/javascript">
<!--
   


   



    

   
// -->
</script>


 



 @*=====================================
   
=====================================*@ 

<div class="row" style="padding-top: 35px;padding-bottom: 5px; line-height: 120px;">
    <div class="span2">
    </div>
    <div class="span8" style="text-align: left;">
        <img style="margin-left:290px;" src="@Url.Content("~/img/densk/akamaru.png")" alt="" />
    </div>
</div>


    @*タイトル--------------------------*@
    <div class="row" style="padding-top: 25px;padding-bottom: 0px; line-height: 120px;">
        <div class="span2">
        </div>
        <div class="span8" style="text-align: left;">
            <img style="width: 683px;margin-left:-20px;" src="@Url.Content("~/img/densk/2genme/densk_img_2genme_title.png")" alt="ＤＥＮＳＫ　２時限目　和菓子職人 町田さん" />
        </div>
       
    </div>


    <div class="row" style="margin-top: 0px;padding: 5px; ">
    <div class="span2">
        
    </div>
    <div class="span3" style="">
        <a href="@Url.Action("Index1", "Densk", null, null)" class="link_btn"> ≪１時限目はこちら</a>
    
</div>
    <div class="span5" style="text-align: left;">
        
    </div>
</div>



@*説明1--------------------------*@
<div class="row" style="padding-top: 35px;padding-bottom: 5px; line-height: 120px;">
    <div class="span2">
    </div>
    <div class="span8" style="text-align: left;">
        <img src="@Url.Content("~/img/densk/2genme/densk_img_2genme_img0.jpg")" alt="" />
    </div>
</div>
<div class="row" style="padding-top:25px; ">
    <div class="span2">
    </div>
    <div class="span7" style="text-align: left;">
        <p style="font-size: 18px; font-weight: bold;letter-spacing: 0.2em; color: #595757; ">
            町田 勉さん
        </p>
    </div>
</div>
<div class="row" style="padding-bottom: 5px;padding-top:10px;">
    <div class="span2" style="text-align:right;">

    </div>

    <div class="span7" style="text-align: left;">
        <p style="font-size:12px;letter-spacing: 0.2em;line-height:2.0;color:#595757;">
            東京都青梅市で生まれ育つ。
            機械工場のエンジニアを経て、二十代後半 義父の経営する『青梅和菓子処まちだ』に入社。
            二代目の和菓子作り職人であり、六店舗ある青梅和菓子処まちだの代表取締役でもある。

        </p>

    </div>
    <div class="span1" style="text-align:right;">

    </div>

</div>


 @*説明1--------------------------*@
<div class="row" style="padding-top: 85px;padding-bottom: 5px; line-height: 120px;">
    <div class="span2">
    </div>
    <div class="span8" style="text-align: left;">
        <img src="@Url.Content("~/img/densk/2genme/densk_img_2genme_img2.jpg")" alt="" />
    </div>
</div>
<div class="row" style="padding-top: 35px; ">
    <div class="span2">
    </div>
    <div class="span7" style="text-align: left;">
        <p style="font-size: 18px; font-weight: bold;letter-spacing: 0.2em; color: #595757; ">
            １．手売りから始まった
        </p>
    </div>
</div>
    <div class="row" style="padding-bottom: 5px;padding-top:10px;">
        <div class="span2" style="text-align:right;">
      
        </div>
       
        <div class="span7" style="text-align: left;">
            <p style="font-size:12px;letter-spacing: 0.2em;line-height:2.6;color:#595757;">
                戦争が終わって間もない1946年、青梅和菓子処まちだは誕生しました。
                町田さんのお義父さん（清さん）は「つばき餅」を作り、
                青梅市沢井周辺で手売りを始めたそうです。
                最初はなかなか手にとってもらえませんでしたが、
                「美味しいからうちに置いてくれ」と頼まれたお店で売るようになると、
                すごく良く売れたそうです。
                それから四年ほど経った1950年、ついに実店舗が青梅駅前にオープンし、
                今日まで和菓子を作り続けていらっしゃいます。

            </p>
           
        </div>
        <div class="span1" style="text-align:right;">

        </div>
       
    </div>
@*説明2--------------------------*@
<div class="row" style="padding-top: 75px;padding-bottom: 5px; line-height: 120px;">
    <div class="span2">
    </div>
    <div class="span8" style="text-align: left;">
        <img src="@Url.Content("~/img/densk/2genme/densk_img_2genme_img3.jpg")" alt="" />
    </div>
</div>
<div class="row" style="padding-top: 35px; ">
    <div class="span2">
    </div>
    <div class="span7" style="text-align: left;">
        <p style="font-size: 18px; font-weight: bold;letter-spacing: 0.2em; color: #595757; ">
            ２．こだわりは自家製のあんこ
        </p>
    </div>
</div>
<div class="row" style="padding-bottom: 5px;padding-top:10px;">
    <div class="span2" style="text-align:right;">

    </div>

    <div class="span7" style="text-align: left;">
        <p style="font-size:12px;letter-spacing: 0.2em;line-height:2.6;color:#595757;">
            まちださんでは北海道の小豆を仕入れ、工場でこしあんから作っています。
            自社で一から作るのと作らないとでは風味がまるっきり違ってきます。
            手間はかかりますが、美味しい和菓子を届けるにはかかせない工程だそうです。

        </p>

    </div>
    <div class="span1" style="text-align:right;">

    </div>

</div>
@*説明3--------------------------*@
<div class="row" style="padding-top: 75px;padding-bottom: 5px; line-height: 120px;">
    <div class="span2">
    </div>
    <div class="span8" style="text-align: left;">
        <img src="@Url.Content("~/img/densk/2genme/densk_img_2genme_img4.jpg")" alt="" />
    </div>
</div>
<div class="row" style="padding-top: 35px; ">
    <div class="span2">
    </div>
    <div class="span7" style="text-align: left;">
        <p style="font-size: 18px; font-weight: bold;letter-spacing: 0.2em; color: #595757; ">
            ３．日本人の感性が表れる和菓子
        </p>
    </div>
</div>
<div class="row" style="padding-bottom: 5px;padding-top:10px;">
    <div class="span2" style="text-align:right;">

    </div>

    <div class="span7" style="text-align: left;">
        <p style="font-size:12px;letter-spacing: 0.2em;line-height:2.6;color:#595757;">
            2014年1月18日にまちださんの工場見学＆和菓子作りの体験を行いました。
            町田さんの甥っ子さん、息子さんたちも講師として参加してくださいました。
            挑戦したのは春は桜、夏は夏菊など季節に応じて作られる『練りきり』。
            自然が織りなす美しさを、お菓子で表現して愛でる日本人の感性が
            ここから受け取れます。
            間近で見る職人技に参加者のみなさんもビックリ！
            みるみるうちに手の中で美しい花が咲きます。
            「わりと簡単だよ」と聞いていたものの、実際に作ってみると
            思うように作れず、職人さんのすごさを実感しました。
        </p>

    </div>
    <div class="span1" style="text-align:right;">

    </div>

</div>
@*説明4--------------------------*@
<div class="row" style="padding-top:65px;padding-bottom: 5px; line-height: 120px;">
    <div class="span2">
    </div>
    <div class="span8" style="text-align: left;">
        <img src="@Url.Content("~/img/densk/2genme/densk_img_2genme_img5.jpg")" alt="" />
    </div>
</div>
<div class="row" style="padding-top: 35px; ">
    <div class="span2">
    </div>
    <div class="span7" style="text-align: left;">
        <p style="font-size: 18px; font-weight: bold;letter-spacing: 0.2em; color: #595757; ">
            ４．安心安全なお菓子を届けたい
        </p>
    </div>
</div>
<div class="row" style="padding-bottom: 5px;padding-top:10px;">
    <div class="span2" style="text-align:right;">

    </div>

    <div class="span7" style="text-align: left;">
        <p style="font-size:12px;letter-spacing: 0.2em;line-height:2.6;color:#595757;">
            町田さんは国内でとれるものは全て国産のものにこだわって仕入れています。
            またなるべく添加物を入れないようにするために様々な工夫をされています。
            それは子どもたちにも安心して食べさせられる様なお菓子を
            届けたいという気持ちがあるからだそうです。
        </p>

    </div>
    <div class="span1" style="text-align:right;">

    </div>

</div>

@*説明4--------------------------*@
<div class="row" style="padding-top: 65px;padding-bottom: 5px; line-height: 120px;">
    <div class="span2">
    </div>
    <div class="span8" style="text-align: left;">
        <img src="@Url.Content("~/img/densk/2genme/densk_img_2genme_img6.jpg")" alt="" />
    </div>
</div>
<div class="row" style="padding-top: 35px; ">
    <div class="span2">
    </div>
    <div class="span7" style="text-align: left;">
        <p style="font-size: 18px; font-weight: bold;letter-spacing: 0.2em; color: #595757; ">
           ５． 温かい想いで作られたまちださんの和菓子を食べてみよう！！
        </p>
    </div>
</div>
<div class="row" style="padding-bottom: 5px;padding-top:10px;">
    <div class="span2" style="text-align:right;">

    </div>

    <div class="span7" style="text-align: left;">
        <p style="font-size:12px;letter-spacing: 0.2em;line-height:2.6;color:#595757;">
            青梅和菓子処まちだ
        </p>
        <blockquote>
            <p style="font-size: 12px;color:#c30d23;">
                工場直売店
            </p>
            <small style="font-size: 12px;">
                <br />
                住所：東京都青梅市西分町3-104<br />
                電話：0428-22-2455<br />
                定休日：水曜日・日曜日<br />
                営業時間：9:30～16:00<br />
            </small>
        </blockquote>
        <br />
        <blockquote>
            <p style="font-size: 12px;color:#c30d23;">
                青梅駅前店
            </p>
            <small style="font-size: 12px;">
                <br />
                住所：東京都青梅市本町130<br />
                電話：0428-22-3671<br />
                定休日：なし<br />
                営業時間：9:00～18:30<br />
            </small>
        </blockquote>

        <blockquote>
            <p style="font-size: 12px;color:#c30d23;">
                東青梅店
            </p>
            <small style="font-size: 12px;">
                <br />
                住所：東京都青梅市東青梅1-8-1<br />
                電話：0428-22-2046<br />
                定休日：なし<br />
                営業時間：9:30～18:30<br />
            </small>
        </blockquote>
        <blockquote>
            <p style="font-size: 12px;color:#c30d23;">
                河辺店
            </p>
            <small style="font-size: 12px;">
                <br />
                住所：東京都青梅市河辺町10-13-9<br />
                電話：0428-22-3670<br />
                定休日：なし<br />
                営業時間：9:30～18:30<br />
            </small>
        </blockquote>
        <blockquote>
            <p style="font-size: 12px;color:#c30d23;">
                小作店
            </p>
            <small style="font-size: 12px;">
                <br />
                住所：東京都羽村市小作台1-12-7<br />
                電話：042-555-2055<br />
                定休日：なし<br />
                営業時間：9:30～18:30<br />
            </small>
        </blockquote>
        <blockquote>
            <p style="font-size: 12px;color:#c30d23;">
                福生店
            </p>
            <small style="font-size: 12px;">
                住所：東京都福生市福生1046<br />
                電話：042-551-4506<br />
                定休日：なし<br />
                営業時間：平日　9:30～18:30　日曜　10:00～18:00<br />
            </small>
        </blockquote>

        <p style="margin-top:50px;font-size:12px;letter-spacing: 0.2em;color:#595757;">
            ・インターネットで買うこともできます！
        </p>
        <p style="font-size: 12px; letter-spacing: 0.2em; color: #c30d23; cursor: pointer; text-decoration: underline;"
           onclick='var w = window.open(); w.location.href = "http://store.shopping.yahoo.co.jp/machida-kashi/";'>
            http://store.shopping.yahoo.co.jp/machida-kashi/
        </p>


        <p style="margin-top:50px; font-size:12px;letter-spacing: 0.2em;color:#595757;">
            ・2014年1月18日に行ったDENTO SCHOOL２時限目の様子は
            こちら
        </p>
        <p style="font-size: 12px; letter-spacing: 0.2em; color: #c30d23; cursor: pointer; text-decoration: underline;"
           onclick='var w = window.open(); w.location.href = "http://umekou.jugem.jp/?eid=69";'>
            http://umekou.jugem.jp/?eid=69
        </p>


       

       

    </div>
    <div class="span1" style="text-align:right;">

    </div>

</div>


<div class="row" style="margin-top: 65px;padding: 5px; ">
    <div class="span2">
        
    </div>
    <div class="span3" style="">
        <a href="@Url.Action("Index1", "Densk", null, null)" class="link_btn"> ≪１時限目はこちら</a>
    
</div>
    <div class="span5" style="text-align: left;">
        
    </div>
</div>


    




