@{
    ViewBag.Title = "DENTO SCHOOL | ～先生はまちの職人さん～";
    Layout = "~/Views/Shared/_LayoutDensk.cshtml";
}
<script type="text/javascript">
<!--
   


   



    

   
// -->
</script>


 



 @*=====================================
   
=====================================*@ 
<div class="row" style="padding-bottom: 5px;padding-top:65px;padding-bottom: 40px;border-bottom:1px solid Silver;">
    <div class="span1"></div>
    <div class="span8" style="text-align: left;padding-left:30px;">
        <p style="color:#595757;">「DENTO SCHOOL～先生はまちの職人さん～」とは？</p>
        <p style="margin-left:5px; margin-top:20px; font-size:12px;letter-spacing: 0.2em;line-height:2.8;color:Gray;">
            大量生産、大量消費の時代に今もなお丹精こめてものづくりをする職人さんがいます。
            しかし職人さんの高齢化、後継者不足によって途絶えてしまう伝統技術や文化があります。
            「DENTO SCHOOL～先生はまちの職人さん～」は職人さんが代々受け継いできた
            技術や想いを、多くの方に伝え、未来へ繋ぐためのプロジェクトです。
            職人さんを先生とする“学びの場”を作っていきます。

        </p>
    </div>
    <div class="span1">
    </div>
</div>
<div class="row" style="margin-top: 0px;padding: 5px; ">
    <div class="span6">

    </div>
    <div class="span3" style="text-align:right;">
        <a href="@Url.Action("Index", "Densk", null, null)" class="link_btn"> ２時限目はこちら≫</a>

    </div>
     <div class="span1">
    </div>
    
</div>
<div class="row" style="margin-top:10px;padding-bottom: 0px; line-height: 120px;">
    <div class="span1"></div>
    <div class="span2" style="">
        <img style="" src="@Url.Content("~/img/densk/densk_1jigen_title.png")" alt="タイトル" />
    </div>
    <div class="span7" style="text-align: left;">
        <img style="margin-top:80px;" src="@Url.Content("~/img/densk/densk_1jigen_img_1.png")" alt="根岸 俊吉さん　東京都青梅市で生まれ育つ。
この道48年、3代目の鼻緒挿げ職人。
東京花緒すげ名人会会長。" />
    </div>

</div>

    @*タイトル--------------------------*@
    <div class="row" style="padding-top: 125px;padding-bottom: 5px; line-height: 120px;">
        <div class="span5">
        </div>
        <div class="span5" style="text-align: left;">
            <img src="@Url.Content("~/img/densk/densk_1jigen_title_2.png")" alt="？" />
        </div>
        <div class="span1">
        </div>
    </div>
    @*説明--------------------------*@
    <div class="row" style="padding-bottom: 5px;padding-top:5px;">
        <div class="span5" style="text-align:right;">
        <img src="@Url.Content("~/img/densk/densk_1jigen_photo_1.jpg")" alt="？" />
        </div>
       
        <div class="span4" style="text-align: left;padding-left:15px;">
            <p style="font-size:12px;letter-spacing: 0.2em;line-height:2.2;color:#595757;">
                靴が流通してから５～６０年。
それまではみんな下駄を履くのが普通で、履いて痛がる人はいませんでした。<br />
それは一人一人の足に合わせた鼻緒を挿げる職人さんがたくさんいたからだそうです。

            </p>
            <blockquote class="pull-left">
                <p style="font-size: 11px;color:#c30d23;">
                    ※1 鼻緒挿げとは</p>
                <small style="font-size: 11px;">
                    「鼻緒挿げ」とは草履や下駄の土台に穴を空け、鼻緒を差し込み、きつさを調整する技術のこと。
                    わずか0.5mm～1mmの差で履き心地が左右されます。
                </small>
            </blockquote>
        </div>
        <div class="span1">
        </div>
    </div>


    <div class="row" style="padding-top: 35px; line-height: 120px;">
        <div class="span5">
        </div>
        <div class="span5" style="text-align: left;">
            <img src="@Url.Content("~/img/densk/densk_1jigen_title_3.png")" alt="？" />
        </div>
        <div class="span1">
        </div>
    </div>

     <div class="row" style="padding-top: 0px;padding-bottom: 5px;">
       <div class="span5" style="text-align:right;">
        <img src="@Url.Content("~/img/densk/densk_1jigen_photo_2.png")" alt="？" />
        </div>
       
        <div class="span4" style="text-align: left;padding-left:5px;">
            <p style="font-size:12px;letter-spacing: 0.2em;line-height:2.2;color:#595757;">
               手作業で下駄を作っていた時代と変わり、お店には既に完成されているものが並ぶようになりました。<br />
くくりと言えば「S/M/L」だけ。
足の幅、甲の高さ・・
かたちは人それぞれ違うのに、
「S/M/L」という三種類に収められてしまいます。<br />
  例えば私達が下駄を買いに行くと、22.5cmの人も23.5cmの人もMサイズの下駄を提示されます。<br />
下駄はかかとがないので一応入りはするもの、足に合わないものを履いていると痛くなってしまいます。

            </p>
            
           
        </div>
        <div class="span1">
        </div>
    </div>

    <div class="row" style="padding-top: 35px; line-height: 120px;">
        <div class="span5">
        </div>
        <div class="span5" style="text-align: left;">
            <img src="@Url.Content("~/img/densk/densk_1jigen_title_4.png")" alt="？" />
        </div>
        <div class="span1">
        </div>
    </div>

     <div class="row" style="padding-bottom: 5px;">
        <div class="span2" style="text-align:right;">
         <img src="@Url.Content("~/img/densk/densk_1jigen_title_5.png")" alt="" />
        </div>
         <div class="span3" style="text-align:right;padding-top:40px;">
         <img src="@Url.Content("~/img/densk/densk_1jigen_photo_3.png")" alt="" />
        </div>
       
        <div class="span4" style="text-align: left;padding-left:15px;">
            <p style="font-size:12px;letter-spacing: 0.2em;line-height:2.2;color:#595757;">
               一人一人が鼻緒を挿げれば、本来痛くないものなのに、
               浴衣シーズンになると「下駄を履くと足が痛い」という声をよく耳にするようになりました。<br />
根岸さんはその状況に胸を痛め、
「世の中の人の足が痛くならないようにしてあげたい！」
と強く思い、「東京鼻緒すげ名人会」を発足しました。<br />
呉服屋さんとマッチングし、展示会での実演販売を始めたところ、徐々に需要が高まり、今では全国の展示会に足を運んでいます。 <br />
            
              お客さんから「すごい！痛いくない！」という感動の声を聴く度に嬉しくなるのだそう。<br />
今後も鼻緒挿げや日本の履物文化を知らない人に伝えて行きたいと思っているそうです。
            </p>
           
        </div>
        <div class="span1">
        </div>
    </div>


     <div class="row" style="padding-top: 35px; line-height: 120px;">
        <div class="span5">
        </div>
        <div class="span5" style="text-align: left;">
            <img src="@Url.Content("~/img/densk/densk_1jigen_title_6.png")" alt="" />
        </div>
        <div class="span1">
        </div>
    </div>
     <div class="row" style="padding-top:10px;padding-bottom: 5px;">
        <div class="span2" style="text-align:right;">
         
        </div>
         <div class="span3" style="text-align:right;padding-top:10px;">
         <img src="@Url.Content("~/img/densk/densk_1jigen_photo_4.png")" alt="" />
        </div>
       
        <div class="span4" style="text-align: left;padding-left:15px;">
            <p style="font-size:12px;letter-spacing: 0.2em;line-height:2.8;color:#595757;">
            自分好みの組み合わせに出来るのが嬉しい♪
            </p>
             <p style="font-size:11px;font-weight:bold;letter-spacing: 0.2em;line-height:2.8;color:#595757;">
            5,000円～
            </p>
             <p style="font-size:12px;letter-spacing: 0.2em;line-height:2.8;color:#595757;">
            ※選んだ土台と鼻緒により値段が変わります
            </p>
             <blockquote class="pull-left">
                <p style="font-size: 12px;color:#c30d23;">
                    佐之屋履物</p>
                 <small style="font-size: 11px;">
                     <br />
                     <font style="color:#595757;">
                         住所：青梅市仲町３０１<br />
                         電話：０４２８-２２-１５４６<br />

                         定休日：月曜日<br />
                         営業時間：9:30～19:00
                     </font><br />
                     <br />
                     ※根岸さんは展示会に主張している可能性があるので、
                     行く前に電話で確認すると確実です。
                 </small>
            </blockquote>
           
        </div>
        <div class="span1">
        </div>
    </div>



<div class="row" style="margin-top: 65px;padding: 5px; ">
    <div class="span6">

    </div>
    <div class="span3" style="text-align:right;">
        <a href="@Url.Action("Index", "Densk", null, null)" class="link_btn"> ２時限目はこちら≫</a>

    </div>
    <div class="span1" style="text-align: left;">

    </div>
</div>





