<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-40699100-1', 'umekou.net');
        ga('send', 'pageview');

    </script>
    <title>@ViewBag.Title</title>@*CSS↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*@
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site_Densk.css")" rel="stylesheet" type="text/css" />
    @if (IsSectionDefined("css"))
    {
        @RenderSection("css", false);
    }

@*スクリプト↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*@
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript">


    </script>
    @if (IsSectionDefined("script"))
    {
        @RenderSection("script", false);
    }
</head>
<body>
    <div class="container">
        @*=====================================
           ページ本体
        =====================================*@
        <div class="row">
            @* ページ本体*@
            <div id="main" class="span10" style="background-color: #fff; overflow: hidden;">
                @*　ヘッダー部分*@
                <div class="row" style="height: 250px; line-height: 250px;">
                    <div class="span7" style="">
                       <img  style=""  src="@Url.Content("~/img/densk/densk_catch.gif")" alt="DENTO SCHOOLキャッチ" />
                    </div>
                    <div class="span3" style="text-align:right;">
                        <img  style=""  src="@Url.Content("~/img/densk/densk_rogo.png")" alt="DENTO SCHOOLロゴ" />
                    </div>
                </div>
                @*　内容部分*@
                <div class="row" style="background-color: #e9e9e9; padding-bottom: 20px;">
              
    @*説明--------------------------*@
    <div class="row" style="padding-bottom: 5px;padding-top:85px;padding-bottom: 40px;border-bottom:1px solid Silver;">
        <div class="span5" style="text-align:right;">
       
        </div>
       
        <div class="span4" style="text-align: left;padding-left:30px;">
        <p style="color:#595757;">「DENTO SCHOOL～先生はまちの職人さん～」とは？</p>
            <p style="margin-left:5px; margin-top:20px; font-size:10px;letter-spacing: 0.2em;line-height:2.8;color:Gray;">
               　大量生産、大量消費の時代に今もなお丹精こめてものづくりをする職人さんがいます。
しかし職人さんの高齢化、後継者不足によって途絶えてしまう伝統技術や文化があります。
　「DENTO SCHOOL～先生はまちの職人さん～」は職人さんが代々受け継いできた
技術や想いを、多くの方に伝え、未来へ繋ぐためのプロジェクトです。
　職人さんを先生とする“学びの場”を作っていきます。

            </p>
        </div>
        <div class="span1">
        </div>
    </div>



                    <div class="row" style="margin-top:90px;padding-bottom: 0px; line-height: 120px;">
                     <div class="span1"></div>
                        <div class="span2" style="">
                         <img  style=""  src="@Url.Content("~/img/densk/densk_1jigen_title.png")" alt="タイトル" />
                        </div>
                        <div class="span7" style="text-align: left;">
                        <img  style="margin-top:80px;"  src="@Url.Content("~/img/densk/densk_1jigen_img_1.png")" alt="根岸 俊吉さん　東京都青梅市で生まれ育つ。
この道48年、3代目の鼻緒挿げ職人。
東京花緒すげ名人会会長。" />
                        </div>
                        
                    </div>
                    @RenderBody()
                </div>
                @* 余白部分*@
                <div class="span3">
                </div>
            </div>
            <div id="footer">
                <div class="span9" style="text-align: center;color:Gray;">
                    Umekou since2010.All right reserved
                </div>
            </div>
        </div>
</body>
</html>
